body {
background-color: #a8d6f0;
font-family: 'Ubuntu Mono', monospace;
}

form {
display: block;
margin-top: 0em;
}

div {
display: block;
margin: 10px;
}


#title {
text-align: center;
color: rgb(0, 60, 255);
font-size: 2.5em;
font-weight: bold;
}

#form-outer {
background-color: white;
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;

}

#survey-form {
display: block;
background-color: white;
}
#description {
text-align: center;
font-size: 1em;
font-weight: bold;
height: auto;
padding: 20px 0px 20px 0px;
}

.labels {
display: inline-block;
text-align: right;
width: 40%;
vertical-align: top;
}

.Tabs {
display: inline-grid;
text-align: left;
width: 25%;
vertical-align: middle;
}

.dropdown {
height: 35px;
width: 140px;
padding: 5px;
margin-top: 0px;
border: 1px solid #c0c0c0;
border-radius: 2px;
}
.input-field {
  height: 150px;
  width: 400px;
  background-color: aliceblue;
}
.submit {
  margin: 0px 0px 0px 350px;
  background-color: rgb(0, 153, 255);
  padding: 1em;
  font-size: 1em;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  border: 0px solid;
  border-radius: 5px;
  padding: 10px;
}